$primary-font-color: #E0E0E0;
$secondary-font-color: #f0f0f0;
$tertiary-font-color: #606060;

$visited-font-color: #A0A0A0;
$primary-font-families: Tahoma, sans-serif;

$main-div-color: #303030; 
$main-div-border-color: #333333;

$paragraph_border_radius: 0.4em;
$content_background_color: #393939;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("/assets/images/blog_background.png");
    background-size: 18px;
    background-attachment: fixed;
    background-color : #232323;
}





h1 {
    text-align: center;
    text-indent: 0em;

    color: $secondary-font-color;
    
    font-family: $primary-font-families;
    font-weight: normal;
    font-size: 1.9em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    text-align: left;
    text-indent: 0em;

    color: $secondary-font-color;

    font-family: $primary-font-families;
    font-weight: normal;
    font-size: 1.5em;

    margin-top: 0.5em;
    margin-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;

    padding-top: 0em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;

    //border-bottom: 2px ridge $tertiary-font-color;

    border-bottom: 1px solid $tertiary-font-color;
    box-shadow: 0px 1px 0px 0px #404040;
}

h3 {
    text-align: left;
    text-indent: 0em;

    color: $secondary-font-color;

    font-family: $primary-font-families;
    font-size: 1.25em;
    font-weight: bold;

    margin-top: 0.75em;
    margin-bottom: 0.5em;
    
    padding-left: 0.5em;
}

h4 {

    text-align: left;
    text-indent: 0em;

    color: $secondary-font-color;

    font-family: $primary-font-families;
    font-size: 1.0em;
    font-weight: bold;

    margin-top: 0.75em;
    margin-bottom: 0.75em;

    margin-left: 0.25em;
}



p {
    color: $primary-font-color;
    font-family: $primary-font-families;
    font-size : 1em;

    text-align: justify;

    line-height: 1.5em;

    text-indent: 1.5em;
    padding: 0em;

    margin-top: 0.325em;
    margin-bottom: 0.325em;
}

p.no_indent {
    text-indent: 0.0em;
}

a {
    text-decoration: underline;
    font-family: $primary-font-families;
    font-size: 1em;


    margin-top:    0.0em;
    margin-bottom: 0.0em;
    margin-left:   0.0em;
    margin-right:  0.0em;

    padding-top:    0.0em;
    padding-bottom: 0.0em;
    padding-left:   0.0em;
    padding-right:  0.0em;

    font-weight: normal;
}

a:link {
}

a:visited {
    color: $visited-font-color;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

@media screen and (orientation:portrait) {
    div.main_div {
        background-color : $main-div-color;

        width: 48em;
        min-width: 90%;
        max-width: 95%;

        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        padding-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;

        border-radius: 0.75em;

        border: solid $main-div-border-color 1px;
    }

}

@media screen and (orientation:landscape) {
    div.main_div {
        background-color : $main-div-color;

        width: 37.5%;
        min-width: 48em;
        max-width: 95%;

        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        padding-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;

        border-radius: 0.75em;

        border: solid $main-div-border-color 1px;
    }
}

th {
    font-weight: bold;
    line-height: 1.5em;
}

td {
    line-height: 1.25em;
}

strong {
    font-weight: bold;
}

li {
    color: $primary-font-color;
    font-family: Tahoma, sans-serif;
    font-size : 1.125em;

    line-height: 1.5em;
}

li::marker {
    color: $primary-font-color;
}

ul {
    color: $primary-font-color;
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;

    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;

    padding-left: 2em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

hr {
    border: 0;
    clear: both;
    display:block;
    width: 100%;               
    background-color:$tertiary-font-color;
    height: 1px;
}

.invert {
    color: #303030;
    background-color:#757575;
    border-radius: 0.25em;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}
