$primary-font-color: #E0E0E0;
$visited-font-color: #A0A0A0;
$primary-font-families: Tahoma, sans-serif;

$main-div-color: #303030; 
$main-div-border-color: #333333;

$paragraph_border_radius: 0.4em;
$content_background_color: #393939;

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("/assets/images/blog_background.png");
    background-size: 18px;
    background-color : #232323;
}





h1 {
    text-align: center;
    text-indent: 0em;

    color: $primary-font-color;
    
    font-family: $primary-font-families;
    font-weight: normal;
    font-size: 1.9em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;

    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    text-align: left;
    text-indent: 0em;

    color: $primary-font-color;

    font-family: $primary-font-families;
    font-weight: normal;
    font-size: 1.5em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;

    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

h3 {
    text-align: left;
    text-indent: 0em;

    color: $primary-font-color;

    font-family: $primary-font-families;
    font-size: 1em;
    font-weight: bold;

    padding-left: 0.5em;
}

h4 {
    text-align: left;
    text-indent: 0em;

    color: $primary-font-color;

    font-family: $primary-font-families;
    font-size: 0.9em;
    font-weight: bold;
}



p {
    color: $primary-font-color;
    font-family: $primary-font-families;
    font-size : 1em;

    text-align: justify;

    line-height: 1.75em;

    text-indent: 2em;
    padding: 0em;

    margin-top: 0.325em;
    margin-bottom: 0.325em;
}

a {
    text-decoration: underline;
    font-family: $primary-font-families;
    font-size: 1em;


    margin-top:    0.0em;
    margin-bottom: 0.0em;
    margin-left:   0.0em;
    margin-right:  0.0em;

    padding-top:    0.0em;
    padding-bottom: 0.0em;
    padding-left:   0.0em;
    padding-right:  0.0em;

    font-weight: normal;
}

a:link {
}

a:visited {
    color: $visited-font-color;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

@media screen and (orientation:portrait) {
    div.main_div {
        background-color : $main-div-color;

        width: 37.5em;
        min-width: 80%;
        max-width: 95%;

        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        padding-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;

        border-radius: 0.75em;

        border: solid $main-div-border-color 1px;
    }

}

@media screen and (orientation:landscape) {
    div.main_div {
        background-color : $main-div-color;

        width: 37.5%;
        min-width: 48em;
        max-width: 95%;

        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        padding-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;

        border-radius: 0.75em;

        border: solid $main-div-border-color 1px;
    }
}
