---
---

@import 'site_shared';

$paragraph_border_radius: 0.5em;
$content_background_color: #393939;
$content_font_families: Tahoma, sans-serif;

body {
    background-image: url('/assets/images/bn_background.png');
    background-size: 18px;
    background-color : #232323;
}

h1 {
    text-align: center;
    text-indent: 0.25em;
    
    color: #E0E0E0;
    
    font-family: $content_font_families;
    font-weight: normal;
    font-size: 2em;

    margin-top: 0em;
    margin-bottom: 0.125em;

    //background:$content_background_color;
    //border-radius: $paragraph_border_radius;

    padding-top: 0.0em;
    padding-bottom: 0.25em;
}

h2 {
    text-align: left;
    text-indent: 0px;

    color: #E0E0E0;

    font-family: $content_font_families;
    font-weight: normal;
    font-size: 1.5em;

    margin-top: 1.0em;
    margin-bottom: 0.5em;

    //background:$content_background_color;
    //border-radius: $paragraph_border_radius;


    background-color : $content_background_color;
    
    padding-top:    0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    margin-top: 0.5em;
    margin-bottom: 0em;

    border-top-left-radius: $paragraph_border_radius;
    border-top-right-radius: $paragraph_border_radius;
    
    border-bottom-left-radius: $paragraph_border_radius;
    border-bottom-right-radius: $paragraph_border_radius;
}

h3 {
    text-align: left;
    text-indent: 0em;

    color: #E0E0E0;
    font-family: $content_font_families;
    font-size: 1.125em;
    font-weight: bold;

    padding-top:    0.25em;
    padding-bottom: 0.25em;
    padding-left:   1.00em;
    padding-right:  1.00em;

    margin-top: -0.5em;
    margin-bottom: 0em;
}

h3:before {
    content: "› ";
}

h4 {
    text-align: left;
    text-indent: 0em;

    color: #E0E0E0;
    font-family: $content_font_families;
    font-size: 0.9em;
    font-weight: bold;
}


p {
    background-color : $content_background_color;
    
    border-top-left-radius: $paragraph_border_radius;
    border-top-right-radius: $paragraph_border_radius;
    
    border-bottom-left-radius: $paragraph_border_radius;
    border-bottom-right-radius: $paragraph_border_radius;

    font-size : 1em;

    color: #E0E0E0;
    font-family: $content_font_families;
    font-size : 1em;

    text-align: justify;

    line-height: 1.7em;

    text-indent: 2em;

    padding-top:    0.5em;
    padding-bottom: 0.5em;
    padding-left:   1em;
    padding-right:  1em;

    margin-top: 0em;
    margin-bottom: 0em;
}

p.list {
    text-indent: 0em;
}

a {
    padding: 0em;
    margin: 0em;
}

p.super_title {
    background-color : transparent;

    display: flex;
    justify-content: space-between;

    color: #E0E0E0;
    font-family: Tahoma, sans-serif;
    font-size : 0.85em;

    line-height: 1.7em;

    text-indent: 0em;
    text-align: left;

    padding: auto;

    margin-left: 0.0em;
    margin-right: 0.5em;

    margin-top: 0.5em;
    margin-bottom: auto;
}

p + p {
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    border-bottom-left-radius: $paragraph_border_radius;
    border-bottom-right-radius: $paragraph_border_radius;
}

p.no_indent {
    text-indent: 0em;
}

p + h2 {
    background-color : $content_background_color;

    border-top-left-radius: $paragraph_border_radius;
    border-top-right-radius: $paragraph_border_radius;
}

p + h3 {
    background-color : $content_background_color;

    border-top-left-radius: $paragraph_border_radius;
    border-top-right-radius: $paragraph_border_radius;
}

h2 + p {
    background-color : $content_background_color;
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

h3 + p {
    background-color : $content_background_color;
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ul + p {
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    border-bottom-left-radius: $paragraph_border_radius;
    border-bottom-right-radius: $paragraph_border_radius;
}

p + ul {
    background-color : $content_background_color;
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

h2 + ul {
    background-color : $content_background_color;
    margin-top: -$paragraph_border_radius;
    margin-bottom: 0em;

    padding-top: $paragraph_border_radius;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ul {
    background-color : $content_background_color;

    border-top-left-radius: $paragraph_border_radius;
    border-top-right-radius: $paragraph_border_radius;

    border-bottom-left-radius: $paragraph_border_radius;
    border-bottom-right-radius: $paragraph_border_radius;

    padding-top:    0.5em;
    padding-bottom: 0.5em;
    padding-left:   1em;
    padding-right:  1em;

    margin-top: 0em;
    margin-bottom: 0em;
}


table {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;

    width: 50%;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;

    margin-left: auto; 
    margin-right: auto;

    text-align: center;
}


ul {
    color: #E0E0E0;
    font-family: $content_font_families;
    padding-left: 2em;
    font-size: 0.9em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

code {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}

.language-plaintext {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal;
}

.language-code_block {
    color: #E0E0E0;
    font-family: 'Courier New', monospace;
    font-weight: normal; 
    display: block;
    overflow: auto;

    width: auto;
}

.TODO:before {
    content: "TODO: "
}

.TODO {
    color: #f03c3c;
    text-decoration: underline dotted;
    text-indent: 0.0em;
}
