<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bn_page.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon_gray.png">
  </head>
  <body>
    <div class="main_div">
      <p class = "super_title">
        <span> <a href="/bn/toc.html">Table of Contents</a> </span>
      </p>
      <h1>{{ page.title }}</h1>
{{ content }}
    </div>
  </body>
</html>
