<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/major_page.css">
  </head>
  <body>
    <div class="main_div">
      <h1> {{ title }} </h1>
        {{ content }}
        <div class="icon_container">
          <a href="mailto:hugeonotation@gmail.com"> <img src="./assets/images/gmail-icon.svg" class="icon_image"> </a>
          <a href="https://github.com/HugeONotation"> <img src="./assets/images/github-icon.svg" class="icon_image"> </a>
          <a href="https://www.reddit.com/user/HugeONotation/"> <img src="./assets/images/reddit-icon.svg" class="icon_image"> </a>
          <a href="https://mastodon.social/@HugeONotation"> <img src="./assets/images/mastodon-icon.svg" class="icon_image"> </a>
        </div>
    </div>
  </body>
</html>
